.create_container {
  display: flex;
  height: 100%;
  background-color: #35383a;
}
.top {
  margin-top: 2rem;
  width: 98%;
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;

  button {
    margin-right: 1rem;
    background-color: #faf7f0;
    border: 2px solid #35383a;
    color: #35383a;
    font-size: 12px;
    font-family: 'yrsa', 'sans';
    width: 4rem;
    height: 2rem;
    border-radius: 18px;
    outline: none;
    cursor: pointer;

    transition: 0.5s all;
    &:hover {
      font-weight: bold;
      background-color: #a2daff;
      border-width: 1px;
    }
  }
}
.create_form {
  margin: 0 auto 1rem 30%;
  padding: 5px 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 800px;
  background-color: #faf7f0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px;

  @media screen and (max-width: 1400px) {
    margin: 0 auto 1rem auto;
  }
  @media screen and (max-width: 1000px) {
    margin-right: 5px;
    margin-left: 5.5rem;
  }
  @media screen and (max-width: 768px) {
    width: 98%;
    margin: 0 auto 4rem auto;

    // margin-bottom: 4rem;
  }
  &-title {
    width: 50%;
    background-color: #faf7f0;
    border: none;
    outline: none;
    font-family: 'yrsa', 'sans-serif';
    font-size: 24px;
    // margin-bottom: 15px;
    // border-radius: 18px;
    padding: 5px;
  }
  &-labels {
    width: 98%;
    display: flex;
    margin: 5px 0;
    text-align: center;

    padding: 10px 0;
    input {
      width: 20%;
      padding: 10px;
      border: none;
      outline: none;
      font-family: 'yrsa';
      font-size: 14px;
      background-color: #faf7f0;
    }
    p {
      height: fit-content;
      margin: 0;
      padding-top: 6px;
      font-size: 12px;
      font-weight: 500;
      color: #35383a;
    }
  }
  &-body {
    padding: 8px 4px;
    margin-top: 5px;
    width: 97%;
    height: 90%;
    background-color: #faf7f0;
    border: none;
    outline: none;
    font-family: 'yrsa';
    font-size: 16px;
    resize: none;
    // overflow: auto;
    color: #35383a;
    border-top: 1px solid #35383a;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
