.create_container {
  display: flex;
  height: 100%;
  background-color: #35383a;
}
/*** Form nav ***/
.top {
  width: 100%;
  padding-top: 5px;
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;
  align-items: center;
  &-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    // margin: 5px 10px;
    color: #35383a;
    font-size: 24px;
    width: 60px;
    height: 45px;
    // padding-top: 5px;
    transition: 0.3s all;
    &:hover {
      transition: 0.3s all;
      font-weight: bolder;
      color: #a2daff;
      background-color: #35383a;
    }
  }

  button {
    background: transparent;
    border-radius: 4px 0 0 4px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  a {
    // border-bottom: 1px solid #35383a;
    border-radius: 0 4px 4px 0;
    &:hover {
      color: #ff3535;
    }
  }
}
/*********************/

.create_form {
  margin: 1rem auto 1rem 30%;
  // padding: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 800px;
  background-color: #faf7f0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 4px;

  @media screen and (max-width: 1400px) {
    margin: 1rem auto 1rem auto;
  }
  @media screen and (max-width: 1000px) {
    margin-right: 5px;
    margin-left: 5.5rem;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
    margin: 0 auto 0 auto;
    border-radius: 0;
  }
  @media screen and (max-height: 500px) {
    margin-bottom: 1px;
  }

  &-title {
    min-width: 50%;
    background-color: #faf7f0;
    border: none;
    outline: none;
    font-family: 'yrsa', 'sans-serif';
    font-size: 24px;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
  }
  &-labels {
    width: 95%;
    display: flex;
    margin: 15px 0;
    text-align: center;

    input {
      width: 20%;
      padding: 0 6px;
      border: none;
      outline: none;
      font-family: 'yrsa';
      font-size: 14px;
      background-color: #faf7f0;
    }
    p {
      height: fit-content;
      margin: 0;
      font-size: 12px;
      font-weight: 500;
      color: #35383a;
    }
  }
  &-body {
    padding: 8px 5px;
    margin-top: 10px;
    width: 92%;
    height: 90%;
    background-color: #faf7f0;
    border: none;
    outline: none;
    font-family: 'yrsa';
    font-size: 18px;
    line-height: 24px;
    resize: none;
    // overflow: auto;
    color: #35383a;
    border-top: 1px solid #35383a;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
