.nav {
  z-index: 1000;
  width: 5rem;
  display: flex;
  flex-flow: column;
  height: 100vh;
  position: fixed;
  background-color: #35383aef;
  border-left: 2px solid #faf7f0;
  font-family: 'Yrsa', serif;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  p {
    cursor: pointer;
    margin: 0;
    text-decoration: none;
  }
  &-link {
    align-self: center;
    margin: 6px;
    text-align: center;
    color: #a2daff;
    font-size: 14px;
    text-decoration: none;
    border-radius: 2px;
    &:active,
    :visited,
    :before,
    :after {
      color: #a2daff;
      // background-color: #8ed0ff;
    }
  }

  @media screen and (max-width: 580px) {
    flex-flow: row;
    justify-content: space-around;
    box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.19),
      1px -3px 6px rgba(0, 0, 0, 0.23);
    position: fixed;
    bottom: 0;
    height: 3rem;
    width: 100%;
    z-index: 1000;
    border-left: none;
    border-bottom: 2px solid #faf7f0;
  }
}

.content {
  padding: 10px 0;

  display: flex;
  justify-content: flex-end;
  width: 80%;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    width: 90%;
  }
  @media screen and (max-width: 580px) {
    // margin: 3rem 0;
    width: 100%;
    align-items: center;
    flex-flow: column;
  }
  &-info {
    width: 30%;
    border: 1px solid red;
  }
  &-list {
    width: 60%;
    margin: 2rem 0;
    // border-radius: 5px;
    display: flex;
    flex-flow: column;
    align-items: flex-end;

    @media screen and (max-width: 580px) {
      align-items: center;
      width: 100%;
      margin: 0 0 3.8rem 0;
    }
  }
}
.box {
  margin-top: 10px;
  // top: 2rem;
  // position: sticky;
  width: 100%;
  border-radius: 3px;
  color: #faf7f0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  line-height: 18px;

  @media screen and (max-width: 580px) {
    // top: 5rem;
    // align-self: center;
    width: 99%;
  }
  a {
    padding: 10px;
    height: 90px;
    color: #35383a;
    text-decoration: none;
    font-family: 'Yrsa', serif;
  }
  &-contents {
    display: flex;
    justify-content: space-between;
    &-left {
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      width: 70%;
      padding: 6px;
    }
    &-labels {
      display: flex;
      justify-content: space-between;
      padding: 4px;
      border-bottom: 1px solid #35383a;
      p {
        margin: 0;
      }
    }
    &-right {
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      width: 20%;
      text-align: center;
      p {
        font-family: 'Dosis', sans-serif;
        overflow: none;
        margin: 0;
      }
    }
  }
}
#date {
  font-size: 34px;
  // margin: 9px 0 12px 0;
  color: #a2daff;
  // font-family: 'Dosis', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  display: hidden;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;

  border-radius: 5px;
  box-shadow: 0px 2px 2px grey inset;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #35383a;
  border-radius: 5px;
  height: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #27292b;
}
