.homepage {
  display: flex;

  justify-content: space-between;
  // background-color: #332b00;
  background-image: url('notebook-1920x1080.png');
  @media screen and (max-width: 580px) {
    flex-flow: column-reverse;
  }
}
.title_bar {
  display: flex;
  flex-flow: column-reverse;
  justify-content: space-around;
  height: 100vh;

  position: fixed;
  // margin: 0 auto 1rem auto;
  border-top: 1px solid #35383a;
  background-color: #35383aef;
  color: #f5f3f0;
  h1 {
    margin: 10px 0 0 0;
    text-align: center;
    // alig n-self: center;
  }
  @media screen and (max-width: 580px) {
    flex-flow: row;
    box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.19),
      1px -3px 6px rgba(0, 0, 0, 0.23);
    // align-self: flex-end;
    overflow: hidden;
    position: fixed;
    top: 93.05vh;
    height: 4rem;
    width: 100%;
    z-index: 1000;
  }
}
.logout {
  height: 2.8rem;
  width: 2.8rem;
  padding: 10px;
  text-align: center;

  text-align: center;
  cursor: pointer;
  p {
    margin: 0;
  }
}

.content {
  height: 100%;
  width: 100%;
  padding: 5px 0 1rem 0;
  // margin: 10px;
  display: flex;
  justify-content: flex-end;

  @media screen and (max-width: 580px) {
    margin: 3rem 0;
    width: 100%;
    align-items: center;
    flex-flow: column;
  }
  &-list {
    width: 75%;
    margin: 2rem 10% 0 0;
    // border-radius: 5px;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    // box-shadow: inset 0 0 10px #000000;
    @media screen and (max-width: 580px) {
      width: 100%;
      // padding: 2px;
      margin: 2rem 0;
    }
  }
}
.box {
  top: 2rem;
  position: sticky;
  height: 75px;
  width: 60%;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #acacac;
  background-color: #faf7f0;
  box-shadow: 0 1px 2px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  overflow: hidden;
  line-height: 18px;
  @media screen and (max-width: 580px) {
    // top: 5rem;
    align-self: center;
    height: 65px;
    width: 85%;
  }
  p {
    height: 35%;
    margin: 0;
    padding: 6px;
    overflow: hidden;
  }
  a {
    color: #35383a;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Yrsa', serif;
    font-weight: bold;
  }
}
.nav {
  // height: 5rem;
  display: flex;
  flex-flow: row-reverse;

  @media screen and (max-width: 580px) {
    // top: 4rem;
    width: 100%;
    height: 4rem;
    display: flex;

    z-index: 1000;
    border: none;

    margin: 0;

    // border-top: 2px solid #35383a;
  }

  &-create {
    height: 2.8rem;
    width: 2.8rem;
    padding: 10px;
    text-align: center;
    color: #f5f3f0;
    font-size: 1.6rem;
    p {
      margin: 0 0 6px 0;
      font-size: 14px;
    }
    @media screen and (max-width: 580px) {
      width: 60px;
      height: 5rem;
      margin: 0;
      border-radius: 0;
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
  // height: 30px;
  display: hidden;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;

  border-radius: 5px;
  box-shadow: 0px 2px 2px grey inset;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #35383a;
  border-radius: 5px;
  height: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #27292b;
}
