.nav {
  z-index: 1000;
  width: 6rem;
  display: flex;
  flex-flow: column;
  // justify-content: space-around;
  height: 100vh;
  position: fixed;
  background-color: #35383aef;

  font-family: 'Yrsa', serif;

  p {
    cursor: pointer;
    margin: 0;
    text-decoration: none;
  }
  &-link {
    align-self: center;
    margin: 4rem 16px;
    text-align: center;
    color: #f5f3f0;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 2px;
    &:active,
    :visited,
    :before,
    :after {
      color: #a2daff;
      // background-color: #8ed0ff;
    }
    @media screen and (max-width: 580px) {
      margin: 15px;
    }
  }

  @media screen and (max-width: 580px) {
    // padding: 2px;
    flex-flow: row;
    justify-content: space-around;
    box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.19),
      1px -3px 6px rgba(0, 0, 0, 0.23);
    // overflow: hidden;
    position: fixed;
    bottom: 0;
    height: 4rem;
    width: 100%;
    z-index: 1000;
  }
}

.content {
  padding: 5px 0 1rem 0;

  display: flex;
  justify-content: flex-end;
  @media screen and (max-width: 580px) {
    margin: 3rem 0;
    width: 100%;
    align-items: center;
    flex-flow: column;
  }
  &-list {
    width: 75%;
    margin: 2rem 4% 0 0;
    // border-radius: 5px;
    display: flex;
    flex-flow: column;
    align-items: flex-end;

    @media screen and (max-width: 580px) {
      width: 100%;
      // padding: 2px;
      margin: 2rem 0;
    }
  }
}
.box {
  margin-top: 1px;
  top: 2rem;
  position: sticky;
  height: 75px;
  width: 60%;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #acacac;
  background-color: #faf7f0;
  box-shadow: 0 1px 2px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  overflow: hidden;
  line-height: 18px;
  @media screen and (max-width: 580px) {
    // top: 5rem;
    align-self: center;
    height: 65px;
    width: 85%;
  }
  p {
    height: 35%;
    margin: 0;
    padding: 6px;
    overflow: hidden;
  }
  a {
    color: #35383a;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Yrsa', serif;
    font-weight: bold;
  }
}

::-webkit-scrollbar {
  width: 8px;
  // height: 30px;
  display: hidden;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;

  border-radius: 5px;
  box-shadow: 0px 2px 2px grey inset;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #35383a;
  border-radius: 5px;
  height: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #27292b;
}
