.nav {
  // margin-top: 4.3rem;
  z-index: 100;
  width: 5rem;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  height: 100vh;
  position: fixed;
  background-color: #35383aef;
  border-left: 2px solid #faf7f0;
  font-family: 'Yrsa', serif;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 2px 0;
  @media screen and (max-height: 500px) {
    display: none;
  }
  &-link {
    cursor: pointer;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    // align-content: center;
    text-align: center;
    color: #a2daff;
    text-decoration: none;
    border-radius: 2px;
    font-size: 14px;
    height: 80px;
    width: 100%;
    transition: 0.3s;
    p {
      margin: 5px;
      cursor: pointer;
      text-decoration: none;
      font-size: 14px;
      // height: inherit;
    }
    &:hover {
      transition: 0.3s;
      // background-color: #35383a;
      color: #f0f0f0;
      font-size: 16px;
    }
    &:active {
      font-weight: bold;
      color: #f0f0f0;
      background-color: #35383a;
      border-radius: 8px;
    }
    @media screen and (max-width: 768px) {
      padding-top: 5px;
      height: inherit;
      width: 25%;
      transition: 0.3s;
    }
  }

  @media screen and (max-width: 768px) {
    flex-flow: row;
    justify-content: space-around;
    box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.19),
      1px -3px 6px rgba(0, 0, 0, 0.23);
    position: fixed;
    bottom: 0;
    height: 3rem;
    width: 100%;
    z-index: 1000;
    border-left: none;
    border-bottom: 2px solid #faf7f0;
  }
}
