.nav {
  z-index: 1000;
  width: 5rem;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  height: 100vh;
  position: fixed;
  background-color: #35383aef;
  border-left: 2px solid #faf7f0;
  font-family: 'Yrsa', serif;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 2px 0;
  p {
    cursor: pointer;
    margin: 0;
    text-decoration: none;
  }
  &-link {
    align-self: center;
    margin: 6px;
    text-align: center;
    color: #a2daff;
    text-decoration: none;
    border-radius: 2px;
    font-size: 16px;
    &:active,
    :visited,
    :before,
    :after {
      color: #a2daff;
      // background-color: #8ed0ff;
    }
  }

  @media screen and (max-width: 580px) {
    flex-flow: row;
    justify-content: space-around;
    box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.19),
      1px -3px 6px rgba(0, 0, 0, 0.23);
    position: fixed;
    bottom: 0;
    height: 3rem;
    width: 100%;
    z-index: 1000;
    border-left: none;
    border-bottom: 2px solid #faf7f0;
  }
}
